<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title><%= html_title yield(:page_title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'rails' %>
  <%= open_id_delegation_link_tags(enki_config[:open_id_delegation, :server], enki_config[:open_id_delegation, :delegate]) if enki_config[:open_id_delegation] %>
  <%= yield(:head) %>
</head>

<body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20941265-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<div id="outer">
<div id="wrap">
  <%= render "layouts/header" %>

  <div id="page_container">
    <!-- <h1 id="page_heading"><a href="<%= root_url %>"><%= enki_config[:title] %></a></h1> -->

    <div id="main">
      <%= yield %>
    </div>

    <div id="navigation">
      <div id="bio">
	<%= image_tag("laura.jpg") %>
	<h2>Laura DeGroot</h2>
	<p><a href="http://twitter.com/lauradegroot">@lauradegroot</a></p>

      </div>
      <div id="links">
	<h2>Friends and Idols</h2>
	<ul>
	  <% friends_and_idols_links_for_navigation.each do |link| -%>
	    <li><%= link_to(link.name, link.url) %></li>
          <% end -%>
	</ul>
      
	<% unless category_links_for_navigation.empty? -%>
          <h2>Tags</h2>
          <ul>
            <% category_links_for_navigation.each do |link| -%>
              <li><%= link_to(link.name, link.url) %></li>
            <% end -%>
          </ul>
          <% end -%>
      </div>
    </div>
    
  </div>
</div>
<div id="footer">
  <%= enki_config[:title] %> - Released under Creative Commons - Reproduction allowed with attribution to <%= enki_config[:author, :name] %>. 
</div>

</div>



</body>
</html>
